<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${name}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="components/header :: upheader"></header>

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-0 text-center">
    <h1 class="display-4 fst-italic">Web application on Java Spring Boot by Denireas</h1>
  </div>
</div>

</main>
</body>
</html>