<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="components/header :: upheader"></header>

<div class="container mt-5">
    <h1>Add post</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Add article title" class="form-control"><br>
        <input type="text" name="shortText" placeholder="Add anons" class="form-control"><br>
        <textarea name="fullText" placeholder="Add article body" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success mt-2">Add</button>
    </form>>
</div>

</main>
</body>
</html>